/* NavScrollExample.css */

.bg-body-tertiary {
    background-color: white;
  }
  
  .navbar-brand {
    color: black;
  }
  
  .nav-link,
  .navbar-toggler-icon,
  .navbar-toggler {
    color: black;
  }
  
  .navbar-toggler:hover {
    cursor: pointer;
  }

  .nav-container {
    margin: 50px;
  }

  .button {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0;
  }

  .button:hover {
    background-color: white;
    color:black;
  }

  .button:active {
    background-color: white;
    color:black;
  }