.App {
  text-align: center;
}
.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0;
}

.container {
  max-width: 800px; 
  width: 100%;
  padding: 20px;
} */

.container {
  display: flex;
}
.column1, .column2 {
  text-align: left;
  flex: 1;
  padding: 20px;
}
.subheader {
  text-align: center;
}
.column1 {
  /*background-color: #f0f0f0;*/
  background-color: #f6c247;
}

.column2 {
  /* background-color: #e0e0e0; */
  background-color: #f5b639;
}

.upper-column1 {
  /*background-color: #f0f0f0;*/
  background-color: white;
}

.upper-column2 {
  /* background-color: #e0e0e0; */
  background-color: white;
}

.upper-column1, .upper-column2 {
  text-align: left;
  flex: 1;
  padding: 15px;
  background-color: #ffd165;
}

.center {
  display: block;
  margin: auto;
  text-align: center;
}

.scaled-image {
  width: 80%;  
  height: auto;
}

.padded-image {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-bottom: 10px;
  background-color: #72411b;
}

.accordion-body {
  background-color: #a16d3c;
}

.accordion-container {
  max-width: 1000px; 
  margin: 0 auto; 
}

.recipe-description {
  margin: 20px;
}
.collapsed{
  background-color: #72411b;
  color:white;
}
